.center_hu {
				width: 1200px;
				height: 600px;
				/*background-color: darkgrey;*/
				margin: 10px auto;
			}
			
			.center_hu>div {
				background-color: #f5f5f7;
				height: 600px;
				float: left;
			}
			
			.center_zuo_hu {
				width: 200px;
			}
			
			.center_you_hu {
				width: 800px;
				margin-left: 100px;
			}
			
			.nav_hu {
				margin-top: 40px;
				/*margin-left: 50px;*/
			}
			
			.center_zuo_hu li {
				/*width: 200px;*/
				height: 30px;
				/*text-align: center;*/
				line-height: 30px;
				text-indent: 40px;
			}
			
			.center_zuo_hu li:hover {
				background-color: darkgrey;
				color: white;
			}
			
			.nav_one_hu {
				margin-top: 40px;
			}
			
			.nav_two_hu {
				margin-top: 40px;
			}
			
			.you_one_hu {
				float: left;
				margin-left: 40px;
				margin-top: 30px;
			}
			
			.you_two_hu {
				float: left;
				margin-top: 30px;
			}
			
			.you_two_hu li {
				margin: 25px;
			}
			
			.you_three_hu {
				width: 800px;
				height: 40px;
				background-color:#cccccc;
				margin-top: 300px;
			}
			
			.you_three_hu li {
				float: left;
				line-height: 40px;
				padding-left: 100px;
			}
			
			.you_xia_zuo_hu {
				margin-left: 80px;
				float: left;
			}
			
			.you_xia_zuo_hu li {
				margin-top: 15px;
			}
			
			.you_xia_you_hu {
				float: left;
				margin-left: 220px;
			}
			
			.you_xia_you_hu li {
				margin-top: 15px;
			}